
<!DOCTYPE html>
<html>
  <head>
    <title>Heart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
  </head>
  <body>
    <header>
      <div class="container">
	  <HR>
        <h1 class = "projectName" > Heart Rate Monitoring System </h1><HR><br><br><br>

      </div>
	  <br>
	  <BR>
  </header>
    {% block content %}
    {% endblock %}
   
  </body>
</html>